{
    "semi": true,
    "singleQuote": true,
    "jsxSingleQuote": true,
    "printWidth": 80,
    "trailingComma": "es5",
    "tabWidth": 2,
    "useTabs": false,
    "bracketSpacing": true,
    "bracketSameLine": false,
    "singleAttributePerLine": true,
    "arrowParens": "always",
    "proseWrap": "preserve",
    "endOfLine": "lf",
    "overrides": [
        {
            "files": "*.html",
            "options": {
                "bracketSameLine": true,
                "singleAttributePerLine": false
            }
        }
    ]
}
